!!! 5
html
	head
		title A Skype like chat for the web

	script(src='./javascripts/jquery-1.7.min.js')
	script(src='./javascripts/chat.js')

body
	
	div#register
		p Enter your username or access code here
		input#key 
		button#registerButton Register

	div#registered
		ul#userlist

		
	div#contacts

	div#groups


